appdirs==1.4.0
appnope==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bcolz==1.1.2
bleach==1.5.0
Bottleneck==1.2.0
certifi==2017.1.23
click==6.7
cn-treasury-curve==0.5
configparser==3.5.0
contextlib2==0.5.4
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.25.2
decorator==4.0.11
entrypoints==0.2.2
enum34==1.1.6
functools32==3.2.3.post2
html5lib==0.9999999
ipdb==0.10.2
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Logbook==1.0.0
lxml==3.7.3
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
notebook==4.4.1
numexpr==2.6.2
numpy==1.12.0
packaging==16.8
pandas==0.16.1
pandas-datareader==0.3.0.post0
pandocfilters==1.4.1
pathlib2==2.2.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
PyAlgoTrade==0.18
Pygments==2.2.0
pymongo==3.4.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.13.0
requests-file==1.4.1
requests-ftp==0.3.1
scandir==1.5
scipy==0.18.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.5
statsmodels==0.8.0
subprocess32==3.2.7
terminado==0.6
testpath==0.3
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.2
tushare==0.6.8
wcwidth==0.1.7
widgetsnbextension==1.2.6
xlrd==1.0.0
zipline==0.9.0
